{
    "extends": "standard",
    "installedESLint": true,
    "plugins": [
        "standard",
        "promise"
    ],
    "ignore": [
        "spec/*.Spec.js",
        "doc/**",
        "node_modules/**"
    ]
}